@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared items */
.color-1{
    color:#252432 ;
}
.color-2{
    color: #8987A1;
}
.color-3{
    color: #E95A08;
}
.gap{
    margin-bottom: 50px;
}
.text-dec-1{
    text-decoration: none;
    color:#252432 ;
    font-weight: bold;
}
.text-dec-2{
    text-decoration: none;
    color: #8987A1 ;
    font-weight: 600;
}
.width{
    max-width: 1440px;
    margin: 0 auto;
}
/* .text-dec{
    text-decoration: none; */
.btn-primary{
    color:white ;
    background-color:#E95A08 ;
    padding: 19px 80px;
    border: none;
}
/* nav */
.nav-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}
.link-btn{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    
}
#home{
    font-weight: bolder;
}
/* header */
.first-items{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 107px;
    align-items: end;
    max-width: 1440px;
    
    
}
.text-align{
    text-align: center;
}
.header-1{
    font-weight: 700;
    font-size: 60px;
}
/* body */
.align-body{
    max-width: 1140px;
    margin: 0 auto;
}
.body-heading{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 133px;
   margin-bottom: 50px;
}
.flower-items{
    /* max-width:1140px ; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: center;
}
#badge{
    position: absolute;
    margin-left: 600px;
    margin-top:-100px ;
    width: 200px;
    height: 200px;

}
.body-2{

    max-height: 597px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 212px;
   
}
.text-2{
    margin-left: -150px;
   
}
.heading-2{
    font-weight: bold;
    font-size: 50px;
}


 .heading-3{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-top: 134px;
 }
 /* shop */
.main-container{
    margin-bottom: 120px;
    margin-top: 120px;
    margin-left: 300px;
    max-width: 1440px;
}
 .img-container {
      display: flex;
      gap: 20px;
      align-items: center;
      margin: 0 auto;
    }

    .left-column-img {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 10px;
    }

    .cart {
      position: relative;
      width: 367px;
      height: 201px;
      border-radius: 10px;
      overflow: hidden;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .cart img {
      width: 100%;
      height: 100%;
      
      filter: brightness(50%);
    }

    .cart-content {
      position: absolute;
      }

    .cart-content h2 {
      margin: 0;
      font-size: 20px;
      font-weight: 900;
    }

    .cart-content a {
      display: inline-block;
      color: white;
      text-decoration: underline;
      font-weight: 600;
    }

    .right-cart {
      position: relative;
      width: 750px;
      height: 420px;
      border-radius: 15px;
      overflow: hidden;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .right-cart img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(60%);
    }

    .right-cart .card-content h2 {
      font-size: 32px;
    }

    .right-cart .card-content a {
      font-size: 18px;
    }
 /* subscribe section */
 .subscribe-section {
        background-image: url(../assets/news-letter-bg.png);
        padding: 80px 20px;
        text-align: center;
        color: white;
        /* max-width: 1140px; */
        margin: 0 auto;
}

.subscribe-overlay {
     padding: 40px 20px;
     margin: 0 auto;
    border-radius: 20px;
}

.subscribe-section h1 {
  font-size: 50px;
  font-weight: bold;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.subscribe-form input[type="email"] {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  width: 80%;
  max-width: 600px;
}

.subscribe-form button {
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

.subscribe-form button:hover {
  background-color: #e6451c;
}
 
 
  /* footer part */
 .footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1440px;
     background-color: #FFFFFF;
    padding: 40px 20px;
    
    gap: 150px;

}
.footer-left{
    flex: 1;
    min-width: 258px;
    margin-bottom: 10px;
}
.footer-center, .footer-right{
    flex: 1;
    min-width: 258px;
}
.footer-center ul, .footer-right ul{
    list-style: none;
    padding: 0;
}
.footer-center li, .footer-right li{
    margin-bottom: 10px;
}
.footer-center a, .footer-right a{
    color:#8987A1 ;
    text-decoration: none;

}
.social-part{
    margin-top: 30px;
    text-align: center;
}
.social-part a{
    margin: 0 10px;
    display: inline-block;
}
.social-part img{
    width: 25px;
    height: 25px;
}