@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared items */
.color-1{
    color:#252432 ;
}
.color-2{
    color: #8987A1;
}
.color-3{
    color: #E95A08;
}
.gap{
    gap: 20px;
}

/* .text-dec{
    text-decoration: none; */
.btn-primary{
    color:white ;
    background-color:#E95A08 ;
    padding: 19px 80px;
    border: none;
}
/* nav */
.nav-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
}
.link-btn{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    
}
#home{
    font-weight: bolder;
}
/* header */
.first-items{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 107px;
    align-items: end;
    max-width: 1440px;
    
    
}
.text-align{
    text-align: center;
}
.header-1{
    font-weight: 700;
    font-size: 60px;
}
/* body */
.align-body{
    max-width: 1140px;
    margin: 0 auto;
}
.body-heading{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 133px;
   margin-bottom: 50px;
}
.flower-items{
    /* max-width:1140px ; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    text-align: center;
}
.body-2{
    max-width: 1440px;
    max-height: 597px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 212px;
   
}
.text-2{
    margin-left: -150px;
   
}
.heading-2{
    font-weight: bold;
    font-size: 50px;
}

/* #img-store{
    height: 592px;
    width: 560;
} */
 .heading-3{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-top: 134px;
 }
 /* shop */
 